streamlit
numpy
pillow
torch
torchvision
torchaudio
librosa
moviepy
scipy
scikit-image
streamlit
opencv-python-headless==4.10.0.84


# Optional dependencies (install if available):
# timm
# speechbrain
# facenet-pytorch
# huggingface_hub
pydub

